.a{
    height:800px;
    width:1340px;
    border:hidden;
    background-color: aliceblue;
    padding: 20px;
}
.b{
    height:700px;
    width:500px;
    border:none;
    float:left;
}
.c{
    height:650px;
    width:580px;
    border:none;
    float: left;
    margin:100px;
    margin-top:0px;
    padding:20px;
}
.z{
    color:lightgray;
}
.d{
    height:30px;
    width:250px;
    border:2px solid lightgray;
    padding:5px;
    float:left;
    margin-right: 15px;
    color:lightgray;
}
.e{
    height:20px;
    width:20px;
    background-color: white;
    float:left;
    margin-right:30px;
}
.img{
    height:20px;
    width:20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.d1{
height:30px;
    width:530px;
    border:2px solid lightgray;
    padding:5px;
    float:left;
    margin-top:10px;
    color:lightgray;
}
.d2{
    height:30px;
    width:100px;
    border-right:2px solid lightgray;
    color:black;
    float:left;
}
.d3{
    height:30px;
    width:420px;
    border:none;
    float:left;
}
.d4{
    height:30px;
    width:530px;
    border:2px solid lightgray;
    padding:5px;
    float:left;
    margin-top:50px;
    color:gray;
}
.d5{
    height:30px;
    width:250px;
    border:2px solid lightgray;
    padding:5px;
    float:left;
    margin-right: 15px;
    color:lightgray;
    margin-top:10px;
}
.bu1{
    height:40px;
    width:540px;
    background-color: rgb(41, 145, 180);
    color:white;
    border:none;
    margin-top:10px;
    border-radius:5px;
}
.bu2{
    height:40px;
    width:540px;
    background-color:blue ;
    color:white;
    border:none;
    border-radius:5px;
}
.bu3{
    height:40px;
    width:540px;
    background-color: rgb(171, 171, 228);
    color:white;
    border:none;
    border-radius:5px;
    margin-top:10px;
}
.j{
    color:gray;
}
.k{
    color:blue;

}
.l{
    height:500px;
    width:500px;
    border:none;
}
.m{
    height:200px;
    width:500px;
    border:none;
}
.im{
    height:500px;
    width:500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.co{
    color:rgb(185, 180, 180);
}